* {
  margin: 0;
  padding: 0;
}

ol li {
  list-style-type: none;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal-content h2 {
  margin: 10px 0 25px 0;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

form div {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 75px;
}

form div label {
  font-size: 12px;
  margin-bottom: 5px;
  text-align: center;
}

form div input {
  width: 80%;
  padding: 10px;
  box-sizing: border-box;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

/* button {
  margin: 5px;
  border-style: none;

  width: 80px;
  height: 30px;
  background-color: #004e90;

  color: white;
  border-radius: 3px;
  font-size: 16px;
  
} */

button:hover {
  background-color: #003561;

}

.btn-cancel-modal {
  width: 80px;
  height: 30px;
  color: white;
  border-style: none;
  border-radius: 3px;
  font-size: 16px;
  background-color: #bbb;
  margin: 5px;
}

.btn-cancel-modal:hover {
  background-color: #ccc;
}

.btn-change-modal {
  width: 80px;
  height: 30px;
  border-style: none;
  background-color: #004e90;
  color: white;
  border-radius: 3px;
  font-size: 16px;
  margin: 5px 5px 20px 5px;
}

.btn-change-modal:hover {
  background-color: #003561;
}


.password-checks {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.password-checks p {
  font-size: 10px;
  margin: 3px 0;
}

.password-checks p.green {
  color: green;
}

.password-checks p.red {
  color: red;
}



.password-check-indicators {
  flex-direction: row;
  margin-bottom: -10px;
}

.password-check-indicators .check-item {
  width: 25%;
  height: 5px;
  margin-left: 5px;
  background-color: #bbb;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}



.password-check-indicators .check-item.active {
  background-color: #00CC00; /* 초록색 */
}

.password-check-indicators .check-item.yellow {
  background-color: #FFD700; /* 노란색 */
}