* {
  margin: 0;
  padding: 0;
}

ol li {
  list-style-type: none;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  text-align: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

form div {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

form div label {
  margin-left: 5%;
  align-content: center;
}

form div input {
  margin-right: 5%;
  width: 50%;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

/* button {
  margin: 5px;
  border-style: none;

  width: 80px;
  height: 30px;
  background-color: #004e90;

  color: white;
  border-radius: 3px;
  font-size: 16px;
  
} */

button:hover {
  background-color: #003561;

}

.btn-cancel-modal {
  margin: 5px;
  border-style: none;

  width: 80px;
  height: 30px;

  color: white;
  border-radius: 3px;
  font-size: 16px;
  background-color: #bbb;
}
.btn-cancel-modal:hover {
  background-color: #ccc;
}

.btn-change-modal{
  margin: 5px;
  border-style: none;

  width: 80px;
  height: 30px;
  background-color: #004e90;

  color: white;
  border-radius: 3px;
  font-size: 16px;
}
.btn-change-modal:hover{
  background-color: #003561;
}
