* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
} 

.header {
  color: black;
  font-size: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.my-page-header {
  color: black;
  border-bottom: none;
  font-size: 2em;

}

.mypage-main {
  display: flex;
  justify-content: space-between;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.mypage-table {
  flex: 1;
  margin-right: 20px;
}

.mypage-table table {
  width: 100%;
  border-collapse: collapse;
}

.mypage-table th,
.mypage-table td {
  padding: 12px;
  text-align: left;
}

.mypage-table th {
  background-color: #004e90;
  color: white;
}

.mypage-table input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pw-btn {
  background-color: #004e90;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
}

.pw-btn:hover {
  background-color: #00376b;
}

.form-actions {
  margin-top: 20px;
  display: flex;
  flex-direction: row-reverse;
}

.submit-btn,
.cancel-btn {
  background-color: #004e90;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  margin-right: 10px;
  cursor: pointer;
}

.submit-btn:hover,
.cancel-btn:hover {
  background-color: #00376b;
}

.mypage-chart {
  /* 부모 요소 안에서 일정비율 차지 */
  flex: 1;
  width: 50%;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 400px;
}

.modal-content h2 {
  color: #004e90;
}

.close {
  cursor: pointer;
  float: right;
  font-size: 20px;
}

.btn-change-modal,
.btn-cancel-modal {
  background-color: #004e90;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}

.btn-change-modal:hover,
.btn-cancel-modal:hover {
  background-color: #00376b;
}

.password-check-indicators {
  display: flex;
  margin: 10px 0;
}

.check-item {
  width: 20px;
  height: 20px;
  border: 1px solid #004e90;
  border-radius: 50%;
  margin-right: 10px;
}

.check-item.active {
  background-color: #004e90;
}

.check-item.yellow {
  background-color: yellow;
}

.test123 {
  height: 500px;
}