
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

body {
  font-family: "Noto Sans KR", sans-serif;
    margin: 0;
    padding: 0;
}

/* styles.css */

#add{
    float: right;
    margin-top: 30px;
}


.modal {
    overflow: auto;
    display: none; /* 모달을 띄우기 위해 사용 (숨길 때는 'none') */
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;

}

.modal-content {
    top: 50px;
    background-color: white;
    padding: 20px;
    margin: 0 auto;
    width: 50%;
    border-radius: 3px;
    position: relative;
}

.close-btn2 {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}

.order-main-box {
    margin: 40px;
}

.main-name1{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
}


h2 {
    margin-top: 0;
    text-align: center;
}

.store-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label{
    font-weight: bold;
}

.form-row {
    display: flex;
    gap: 15px;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    font-size: 14px;
}

.map img {
    width: 70%;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}




.submit-btn, .cancel-btn, .cancel-btn2, .cancel-btn3 {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}

.submit-btn {
    background-color: #0056b3;
    color: white;
}

.cancel-btn , .cancel-btn2{
    background-color: #ddd;
}

.seacrh-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.8rem;
    margin-top: 100px;
    position: relative;
}
.seacrh-table, th, td {
    border: 1px solid #ddd;
}

.seacrh-table th {
    border-top : 2px solid #0063ac;
}

.seacrh-table tr:hover{
    background-color: rgba(200, 230, 255, 0.366);
}

.seacrh-table tbody tr:last-child {
    font-weight: bold; /* Apply bold styling */
    background: rgb(241,241,241);
         background: linear-gradient(1deg, rgba(241,241,241,1) 0%, rgba(255,255,255,1) 100%);
}
.seacrh-table tbody tr:last-child td {
    text-align: center;
}

.seacrh-table tbody td i {
    float : right;
    cursor :pointer;
}



tr:nth-child(0){
    font-weight: bold;
}

/* tr:nth-last-child(1) {
  font-weight: bold;
  background-color: #f4f4f4;
} */

.seacrh-table  th, td {
    padding: 10px;
    text-align: left;

}
.seacrh-table  th {
     background: rgb(241,241,241);
     background: linear-gradient(1deg, rgba(241,241,241,1) 0%, rgba(255,255,255,1) 100%);

}


.filter-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    background-color: #f4f4f4;
    margin: auto;
    background: linear-gradient(0deg, rgb(246 246 246) 0%, rgba(255, 255, 255, 1) 100%);
        box-shadow: 0px 2px 20px 0px #fafafa;
}

.pageHeader {
    margin-bottom : 60px;
}


.pageHeader .bi {
    margin-right : 10px;
}

.filter-item {
    display: flex;
    align-items: center;
    position: relative;
}

.filter-item label {
    margin-right: 8px;
    white-space: nowrap;

}

.filter-input, .filter-select {
    flex: 1;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.filter-input:required:invalid {
    border-color: #ddd;
}

.search-button {
    position: absolute;
    right: 5px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 14px;
}

.filter-button {
    grid-column-end  : 7;

    margin-top: 20px;
    padding: 8px 16px;
    border: 1px solid #004e90;
    background-color: #004e90;
    color: white;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
}

.filter-button:hover {
    background-color: #0056b3;
}


.breadcrumb {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #555;
    margin-bottom: 30px;
}

.breadcrumb a {
    text-decoration: none;
    color: #555;
    margin: 0 5px;
    display: flex;
    align-items: center;
}

.breadcrumb a:hover {
    color: #007bff;
}

.breadcrumb .separator {
    margin: 0 5px;
    color: #ccc;
}

.breadcrumb .home-icon {
    width: 16px;
    height: 16px;

    background-size: contain;
    display: inline-block;
    margin-right: 5px;
}


.selected-row {
    background-color: rgba(200, 230, 255, 0.366);
}

.delete-btn {
    width: 65px;
    height: 25px;
    position: absolute;
    top: -35px;

}

/*  sort */
.sortBtn {
   border: 1px solid #d0d0d0;
       margin-left: 10px;
       color: #4c4c4c;
       font-size: 15px;
       width: 22px;
       height: 20px;
       text-align: center;
       padding: 0px;
    }


.chart-container {
    margin: 0 auto;
    position: relative;
    height: 30%;
    width: 50%;
    padding: 20px;
    align-items: center;
    text-align: center;
}

.chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.chart-header h3 {
    margin: 0;
    color: #333;
}

.chart-header button {
    background-color: #0056b3;
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.chart-header button:hover {
    background-color: #004494;
}

.canvas {
    background: white;
    width: 100%;
    height: 100%;
    align-items: center;
}