.fullBody {
    padding: 0;
    height: 100%;
    font-size: 15px;
    margin-top: 60px;

}


.confirmRegist {

    overflow: auto;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;

}

.form-container {
    position: relative;
    width: 60%;
    margin: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 50px;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

}

.form-header {
    grid-column: span 6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}


.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
}


/* ------------------ */


.formTable,
.formTable tr,
.formTable td {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.formTable th {
    background: rgb(241, 241, 241);
    background: linear-gradient(1deg, rgba(241, 241, 241, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.formTable2,
.formTable2 tr,
.formTable2 td {
    border: 1px solid #ddd;
    border-collapse: collapse;
}

.formTable2 th {
    background: rgb(241, 241, 241);
    background: linear-gradient(1deg, rgba(241, 241, 241, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.formTable {
    width: 100%;
    margin: 30px 0px;
    background-color: #ffffff;


}

.formTable2 {
    width: 60%;
    margin: 30px 0px;
    background-color: #ffffff;

}


.formTable td,
formTable2 td {
    text-align: center;
    padding: 5px;
}


.formTable th,
formTable2 th {
    text-align: center;
    padding: 5px;
}

.formTable td>input {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80%;
    margin: 0px;
    padding: 5px;
}


.formTable2 td>input {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80%;
    margin: 0px;
    padding: 5px;
}

.formTable td>select {
    border: 1px solid #ddd;
    width: 85%;
    margin: 0px;
    padding: 5px;
    border-radius: 5px;
}

.formTable2 td>select {
    border: 1px solid #ddd;
    width: 85%;
    margin: 0px;
    padding: 5px;
    border-radius: 5px;
}

.formTable2 td>textarea {
    width: 100%;
    height: 100%;
    border: 1px solid #ddd;
}


/* -------------------- */

.RegistFormList {}


.formTableList {
    width: 100%;
    margin: 30px 0px;
    background-color: #ffffff;

}

.formTableList,
.formTableList th,
.formTableList tr,
.formTableList td {
    border: 1px solid #ddd;
    border-collapse: collapse;

}

.formTableList th {
    background: rgb(241, 241, 241);
    background: linear-gradient(1deg, rgba(241, 241, 241, 1) 0%, rgba(255, 255, 255, 1) 100%);

}


.formTableList tr:nth-last-child(1) {
    background: rgb(241, 241, 241);
    background: linear-gradient(1deg, rgba(241, 241, 241, 1) 0%, rgba(255, 255, 255, 1) 100%);

}


.formTableList td {
    text-align: center;
    padding: 5px;
}


.formTableList th {
    text-align: center;
    padding: 5px;
}

.formTableList td>input {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80%;
    margin: 0px;
    padding: 5px;
}

.formTableList td>select {
    border: 1px solid #ddd;
    width: 85%;
    margin: 0px;
    padding: 5px;
    border-radius: 5px;
}



.formTableList2 {
    width: 100%;
    background-color: #ffffff;
    border-collapse: separate;
    border-spacing: 0;

}

.formTableList2 th,
.formTableList2 td {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.formTableList2 th {
    background: rgb(241, 241, 241);
    background: linear-gradient(1deg, rgba(241, 241, 241, 1) 0%, rgba(255, 255, 255, 1) 100%);

}




.formTableList2 td {
    text-align: center;
    padding: 5px;
}


.formTableList2 th {
    text-align: center;
    padding: 5px;
}

.formTableList2 td>input {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80%;
    margin: 0px;
    padding: 5px;
}

.formTableList2 td>select {
    border: 1px solid #ddd;
    width: 85%;
    margin: 0px;
    padding: 5px;
    border-radius: 5px;
}


/* -------------------- */

.modalBtn {
    float: right;
}


.btns {
    display: flex;
    gap: 3%;
}


.btn-add,
.btn-close {
    grid-column: span 6;
    cursor: pointer;
}

.btn-add-p {
    float: right;
}

.btn-add {
    margin-bottom: 33px;
}

.btn-add button {
    background-color: #004e90;
    color: #fff;
    /* background-color: #fff;
    box-shadow: 0 3px 3px rgba(189, 189, 189, 0.16), 0 3px 6px rgba(131, 131, 131, 0.23); */
    /* background: rgb(241,241,241); */
    /* background: linear-gradient(1deg, rgba(241,241,241,1) 0%, rgba(255,255,255,1) 100%); */
    border: 1px solid #ddd;
    height: 35px;
    border-radius: 2px;
    font-weight: bold;
}

.btn-add2 button {
    background-color: #004e90;
    color: #fff;
    /* background-color: #fff;
    box-shadow: 0 3px 3px rgba(189, 189, 189, 0.16), 0 3px 6px rgba(131, 131, 131, 0.23); */
    /* background: rgb(241,241,241); */
    /* background: linear-gradient(1deg, rgba(241,241,241,1) 0%, rgba(255,255,255,1) 100%); */
    border: 1px solid #ddd;
    width: 90px;
    height: 35px;
    border-radius: 2px;
    font-weight: bold;
}

.btn-close button {
    background-color: #004e90;
    color: #fff;
    /* background: rgb(241, 241, 241); */
    /* background: linear-gradient(1deg, rgba(241, 241, 241, 1) 0%, rgba(255, 255, 255, 1) 100%); */
    border: 1px solid #ddd;
    width: 90px;
    height: 35px;
    border-radius: 2px;
    font-weight: bold;
}

.close-btn {
    border: none;
    background-color: #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 2px;
}

.btn-CSV {
    padding: 4px 6px;
    border: 1px solid #004e90;
    background-color: #004e90;
    color: white;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 3px;
}

.btn-load {}

.bookSearchBox {
    float: right;
    width: 40%;
    position: relative;
}

.bookSearch {
    display: flex;
    width: 100%;
    height: 34px;
    gap: 10px;
}

.bookResultList {
    border: 1px solid #ddd;
    background: #fff;
    display: none;
    position: absolute;
    top: 33px;
    left: 0px;
    width: 79%;
    height: 150px;
    overflow: auto;
}


.bookResultList>ul,
li {
    list-style: none;
}

.bookResultList>ul {
    margin: 0px;
    padding: 0px;
}

.bookResultList>ul li {
    border-bottom: 1px solid #ddd;
    padding: 8px;
}

.bookResultList>ul li p {
    margin: 0px 0px 0px 12px;
}

.bookResultList>ul li:hover {
    background-color: rgba(200, 230, 255, 0.366);
}

.bookSearch input {
    border-radius: 2px;
    border: 1px solid #ddd;
    width: 100%;
}

.bookSearch button {
    width: 22%;
    height: 34px;
    font-size: 15px;
    font-weight: bold;
}


.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    /* 반투명 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* 버튼과 상호작용하지 못하도록 최상위로 올림 */
}

.spinner {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.loader1 {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: relative;
    animation: loader10-uba7e1836 0.9s ease alternate infinite;
    animation-delay: 0.36s;
    top: 50%;
    margin: -42px auto 0;
}

.loader1::after,
.loader1::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    animation: loader10-uba7e1836 0.9s ease alternate infinite;
}

.loader1::before {
    left: -40px;
    animation-delay: 0.18s;
}

.loader1::after {
    right: -40px;
    animation-delay: 0.54s;
}

@keyframes loader10-uba7e1836 {
    0% {
        box-shadow: 0 28px 0 -28px #0052ec;
    }

    100% {
        box-shadow: 0 28px 0 #0052ec;
    }
}


.loader2 {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: relative;
    animation: loader07-u04c322d6 1s linear infinite;
    top: 50%;
    margin: -8px auto 0;
}

@keyframes loader07-u04c322d6 {
    0% {
        box-shadow: 0 -27px 0 0 rgba(0, 82, 236, 0.05), 19px -19px 0 0 rgba(0, 82, 236, 0.1), 27px 0 0 0 rgba(0, 82, 236, 0.2), 19px 19px 0 0 rgba(0, 82, 236, 0.3), 0 27px 0 0 rgba(0, 82, 236, 0.4), -19px 19px 0 0 rgba(0, 82, 236, 0.6), -27px 0 0 0 rgba(0, 82, 236, 0.8), -19px -19px 0 0 #0052ec;
    }

    12.5% {
        box-shadow: 0 -27px 0 0 #0052ec, 19px -19px 0 0 rgba(0, 82, 236, 0.05), 27px 0 0 0 rgba(0, 82, 236, 0.1), 19px 19px 0 0 rgba(0, 82, 236, 0.2), 0 27px 0 0 rgba(0, 82, 236, 0.3), -19px 19px 0 0 rgba(0, 82, 236, 0.4), -27px 0 0 0 rgba(0, 82, 236, 0.6), -19px -19px 0 0 rgba(0, 82, 236, 0.8);
    }

    25% {
        box-shadow: 0 -27px 0 0 rgba(0, 82, 236, 0.8), 19px -19px 0 0 #0052ec, 27px 0 0 0 rgba(0, 82, 236, 0.05), 19px 19px 0 0 rgba(0, 82, 236, 0.1), 0 27px 0 0 rgba(0, 82, 236, 0.2), -19px 19px 0 0 rgba(0, 82, 236, 0.3), -27px 0 0 0 rgba(0, 82, 236, 0.4), -19px -19px 0 0 rgba(0, 82, 236, 0.6);
    }

    37.5% {
        box-shadow: 0 -27px 0 0 rgba(0, 82, 236, 0.6), 19px -19px 0 0 rgba(0, 82, 236, 0.8), 27px 0 0 0 #0052ec, 19px 19px 0 0 rgba(0, 82, 236, 0.05), 0 27px 0 0 rgba(0, 82, 236, 0.1), -19px 19px 0 0 rgba(0, 82, 236, 0.2), -27px 0 0 0 rgba(0, 82, 236, 0.3), -19px -19px 0 0 rgba(0, 82, 236, 0.4);
    }

    50% {
        box-shadow: 0 -27px 0 0 rgba(0, 82, 236, 0.4), 19px -19px 0 0 rgba(0, 82, 236, 0.6), 27px 0 0 0 rgba(0, 82, 236, 0.8), 19px 19px 0 0 #0052ec, 0 27px 0 0 rgba(0, 82, 236, 0.05), -19px 19px 0 0 rgba(0, 82, 236, 0.1), -27px 0 0 0 rgba(0, 82, 236, 0.2), -19px -19px 0 0 rgba(0, 82, 236, 0.3);
    }

    62.5% {
        box-shadow: 0 -27px 0 0 rgba(0, 82, 236, 0.3), 19px -19px 0 0 rgba(0, 82, 236, 0.4), 27px 0 0 0 rgba(0, 82, 236, 0.6), 19px 19px 0 0 rgba(0, 82, 236, 0.8), 0 27px 0 0 #0052ec, -19px 19px 0 0 rgba(0, 82, 236, 0.05), -27px 0 0 0 rgba(0, 82, 236, 0.1), -19px -19px 0 0 rgba(0, 82, 236, 0.2);
    }

    75% {
        box-shadow: 0 -27px 0 0 rgba(0, 82, 236, 0.2), 19px -19px 0 0 rgba(0, 82, 236, 0.3), 27px 0 0 0 rgba(0, 82, 236, 0.4), 19px 19px 0 0 rgba(0, 82, 236, 0.6), 0 27px 0 0 rgba(0, 82, 236, 0.8), -19px 19px 0 0 #0052ec, -27px 0 0 0 rgba(0, 82, 236, 0.05), -19px -19px 0 0 rgba(0, 82, 236, 0.1);
    }

    87.5% {
        box-shadow: 0 -27px 0 0 rgba(0, 82, 236, 0.1), 19px -19px 0 0 rgba(0, 82, 236, 0.2), 27px 0 0 0 rgba(0, 82, 236, 0.3), 19px 19px 0 0 rgba(0, 82, 236, 0.4), 0 27px 0 0 rgba(0, 82, 236, 0.6), -19px 19px 0 0 rgba(0, 82, 236, 0.8), -27px 0 0 0 #0052ec, -19px -19px 0 0 rgba(0, 82, 236, 0.05);
    }

    100% {
        box-shadow: 0 -27px 0 0 rgba(0, 82, 236, 0.05), 19px -19px 0 0 rgba(0, 82, 236, 0.1), 27px 0 0 0 rgba(0, 82, 236, 0.2), 19px 19px 0 0 rgba(0, 82, 236, 0.3), 0 27px 0 0 rgba(0, 82, 236, 0.4), -19px 19px 0 0 rgba(0, 82, 236, 0.6), -27px 0 0 0 rgba(0, 82, 236, 0.8), -19px -19px 0 0 #0052ec;
    }
}


.loader3 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    animation: loader12-u6338d783 2s linear alternate infinite;
    top: 50%;
    margin: -50px auto 0;
}

@keyframes loader12-u6338d783 {
    0% {
        box-shadow: -60px 40px 0 2px #0052ec, -30px 40px 0 0 rgba(0, 82, 236, 0.2), 0 40px 0 0 rgba(0, 82, 236, 0.2), 30px 40px 0 0 rgba(0, 82, 236, 0.2), 60px 40px 0 0 rgba(0, 82, 236, 0.2);
    }

    25% {
        box-shadow: -60px 40px 0 0 rgba(0, 82, 236, 0.2), -30px 40px 0 2px #0052ec, 0 40px 0 0 rgba(0, 82, 236, 0.2), 30px 40px 0 0 rgba(0, 82, 236, 0.2), 60px 40px 0 0 rgba(0, 82, 236, 0.2);
    }

    50% {
        box-shadow: -60px 40px 0 0 rgba(0, 82, 236, 0.2), -30px 40px 0 0 rgba(0, 82, 236, 0.2), 0 40px 0 2px #0052ec, 30px 40px 0 0 rgba(0, 82, 236, 0.2), 60px 40px 0 0 rgba(0, 82, 236, 0.2);
    }

    75% {
        box-shadow: -60px 40px 0 0 rgba(0, 82, 236, 0.2), -30px 40px 0 0 rgba(0, 82, 236, 0.2), 0 40px 0 0 rgba(0, 82, 236, 0.2), 30px 40px 0 2px #0052ec, 60px 40px 0 0 rgba(0, 82, 236, 0.2);
    }

    100% {
        box-shadow: -60px 40px 0 0 rgba(0, 82, 236, 0.2), -30px 40px 0 0 rgba(0, 82, 236, 0.2), 0 40px 0 0 rgba(0, 82, 236, 0.2), 30px 40px 0 0 rgba(0, 82, 236, 0.2), 60px 40px 0 2px #0052ec;
    }
}