.fullBody {
  padding: 0;
  height: 100%;
  font-size: 15px;
  margin-top: 60px;

}


.confirmRegist {

  overflow: auto;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;

}

.form-container {
  position: relative;
  width: 60%;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 50px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

}

.form-header {
  grid-column: span 6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}





/* ------------------ */



.formTable,
.formTable tr,
.formTable td {
  border: 1px solid #ddd;
  border-collapse: collapse;
}

.formTable th {
  background: rgb(241, 241, 241);
  background: linear-gradient(1deg, rgba(241, 241, 241, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.formTable {
  width: 100%;
  margin: 30px 0px;
  background-color: #ffffff;

}

.formTable td {
  text-align: center;
  padding: 5px;
}


.formTable th {
  text-align: center;
  padding: 5px;
}

.formTable td>input {
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 80%;
  margin: 0px;
  padding: 5px;
}

.formTable td>select {
  border: 1px solid #ddd;
  width: 85%;
  margin: 0px;
  padding: 5px;
  border-radius: 5px;
}


/* -------------------- */

.RegistFormList {}



.formTableList {
  width: 100%;
  margin: 30px 0px;
  background-color: #ffffff;

}

.formTableList,
.formTableList th,
.formTableList tr,
.formTableList td {
  border: 1px solid #ddd;
  border-collapse: collapse;

}

.formTableList th {
  background: rgb(241, 241, 241);
  background: linear-gradient(1deg, rgba(241, 241, 241, 1) 0%, rgba(255, 255, 255, 1) 100%);

}


.formTableList tr:nth-last-child(1) {
  background: rgb(241, 241, 241);
  background: linear-gradient(1deg, rgba(241, 241, 241, 1) 0%, rgba(255, 255, 255, 1) 100%);

}


.formTableList td {
  text-align: center;
  padding: 5px;
}


.formTableList th {
  text-align: center;
  padding: 5px;
}

.formTableList td>input {
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 80%;
  margin: 0px;
  padding: 5px;
}

.formTableList td>select {
  border: 1px solid #ddd;
  width: 85%;
  margin: 0px;
  padding: 5px;
  border-radius: 5px;
}



/* -------------------- */

.modalBtn {
  float: right;
}


.btns {
  display: flex;
  gap: 3%;
}





.btn-add,
.btn-close {
  grid-column: span 6;
  text-align: right;
  cursor: pointer;
}

.btn-add-p {
  float: right;
}

.btn-add {
  margin-bottom: 33px;
}

.btn-add button {
  background-color: #004e90;
  color: #fff;
  border: 1px solid #ddd;
  width: 55px;
  height: 35px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.btn-add2 button {
  background-color: #004e90;
  color: #fff;
  border: 1px solid #ddd;
  width: 55px;
  height: 35px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.btn-close button {
  background: linear-gradient(1deg, rgba(241, 241, 241, 1) 0%, rgba(255, 255, 255, 1) 100%);
  border: 1px solid #ddd;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  cursor: pointer;
}

.close-btn {
  border: none;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  cursor: pointer;
}

.btn-CSV {
  padding: 4px 6px;
  border: 1px solid #004e90;
  background-color: #004e90;
  color: white;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
  margin-right: 3px;
}

.btn-delete button {
  background-color: #bbb;
  color: #fff;
  border: 1px solid #ddd;
  width: 55px;
  height: 35px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.btn-add2 button:hover {
  background-color: #0056b3;
}

.btn-delete button:hover {
  background-color: #ccc;
}