
/* 페이지네이션 */

.pagination {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
}




.pagination_link_active {
    background-color: #bbb;
    color: #fefefe;
}

.pagination_link.disabled {
    color: #ccc; /* 비활성화 시 색상 */
    cursor: not-allowed; /* 비활성화 시 커서 스타일 */
}


.pagination_link {
    padding: 0.2rem 0.6rem;
    border-radius: 0.3rem;
    outline: none; /* 기본 테두리 제거 */
    user-select: none; /* 텍스트 선택 방지 */
}

.pagination_link:focus {
    outline: none; /* 포커스 시 테두리 제거 */
    box-shadow: none; /* 박스 그림자 제거 */
}

.pagination_link:hover {
    background-color: #ddd; /* 호버 시 배경색 변경 */
}