.pagination {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    cursor: pointer;
}

.pagination_link {
    transition: all 0.25s;
    padding: 0.2rem 0.6rem;
    border-radius: 0.3rem;
}

.pagination_link_active {
    background-color: #bbb;
    color: #fefefe;
}