<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>접근 거부</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
      background-color: #ffffff;
    }

    .container {
      text-align: center;
      padding: 20px;

      border-radius: 8px;
      background-color: #ffffff;
    }
  </style>
   <link href="/css/accessDenied.css" rel="stylesheet" type="text/css">
</head>

<body>

  <div class="container">
    <div class="error-container">
      <div class="error-icon">
        <div class="exclamation-mark">!</div>
      </div>
      <h1>접근 불가</h1>
      <p class="error-description">
        이 페이지에 대한 접근 권한이 없습니다.
      </p>
      <p class="error-link">
        <a href="#">홈 화면으로 이동</a>
      </p>
    </div>
  </div>

</body>
</html>