<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERP Dashboard</title>
    <link rel="stylesheet" type="text/css" href="/css/layout.css" />
</head>
<body>

<div class='mainBox'>
    <div class="sidebar">
        <h2> LOGO </h2>

        <a href="#"> 고객 관리 </a>
        <a href="#"> 상품 관리 </a>
        <a href="#"> 주문 관리 </a>
        <a href="#"> 판매가 관리 </a>
        <a href="#"> 결재 관리 </a>
        <a href="#"> *직원/권한 관리 </a>
    </div>

    <div class="main-content">


        <div class="top-nav">
            <div class="user-profile">

                <div class="user-profile-info">
                    <div class="user-profile-box">

                        <p>홍길동님 </p>
                    </div>
                    <button type="button" class="user-profile-button"> 로그아웃 </button>
                </div>

            </div>
        </div>
        <div id="root" class="content"></div>
    </div>



</div>



    <script th:src="@{'/bundle/' + ${pageName} + '.bundle.js'}"></script>


</div>
</body>
</html>
