<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.tobe.mapper.OrderMapper">

    <!-- 주문 데이터 조회 -->
    <select id="getOrder" resultMap="OrderH">
        select list.*, prod.product_no as productNo, prod.product_name as productName
        from order_body ob
        join product prod on prod.product_no = ob.product_no
        join (
        select
        cus.customer_name as customerName,
        cus.customer_no as customerNo,
        confinfo.*
        from order_header oh
        join (
        select emp.employee_name as employeeName,
        conf.confirm_title as confirmTitle,
        conf.confirm_content as confirmContent,
        conf.confirm_status as confirmStatus,
        conf.confirm_confirm_date as confirmConfirmDate,
        conf.order_no as orderNo
        from employee emp
        join confirm conf on conf.employee_id = emp.employee_id
        ) confinfo on confinfo.orderNo = oh.order_no
        join customer cus on cus.customer_no = oh.customer_no
        ) list on list.orderNo = ob.order_no
        where list.confirmStatus = '승인'
        <if test="inputProdNo != null">
            AND prod.product_no = #{inputProdNo}
        </if>
        <if test="inputDate != null">
            AND list.confirmConfirmDate = #{inputDate}
        </if>
        <if test="inputOrderNo != null">
            AND list.orderNo = #{inputOrderNo}
        </if>
        <if test="inputManager != null">
            AND list.employeeName = #{inputManager}
        </if>
        <if test="inputCustomerNo != null">
            AND list.customerNo = #{inputCustomerNo}
        </if>
    </select>

    <resultMap id="OrderH" type="OrderH">
        <result column="orderNo" property="orderNo"/>
        <association property="customer" javaType="Customer">
            <result column="customerName" property="customerName"/>
        </association>
        <collection property="confirmList" resultMap="Confirm"/>
        <collection property="orderBList" resultMap="OrderB"/>
    </resultMap>

    <resultMap id="Confirm" type="Confirm">
        <result column="confirmTitle" property="confirmTitle"/>
        <result column="confirmContent" property="confirmContent"/>
        <result column="confirmStatus" property="confirmStatus"/>
        <result column="confirmConfirmDate" property="confirmConfirmDate"/>
        <association property="employee" javaType="Employee">
            <result column="employeeName" property="employeeName"/>
        </association>
    </resultMap>

    <resultMap id="OrderB" type="OrderB">
        <result column="orderNo" property="orderNo"/>
        <association property="product" javaType="Product">
            <result column="productNo" property="productNo"/>
            <result column="productName" property="productName"/>
        </association>
    </resultMap>

</mapper>

